<launch>
    
        <node pkg="mypackage" type="velocity_estimator.py" name="velocity_estimator"  required="true" output="screen">
        </node>


        <node pkg="mypackage" type="leader_velocity_estimator.py" name="leader_velocity_estimator"  required="true" output="screen">
        </node>



        <node pkg="mypackage" type="acceleration_estimator.py" name="acceleration_estimator"  required="true" output="screen">
        </node>


        <node pkg="mypackage" type="10hz.py" name="jeffController"  required="true" output="screen">
        </node>

</launch>

