<launch>
    
        <node pkg="mypackage" type="velocity_estimator.py" name="velocity_estimator"  required="true" output="screen">
        </node>

        <node pkg="mypackage" type="accelerationController.py" name="Roveer_acceleration"  required="true" output="screen">
        </node>

</launch>

